sup {
	vertical-align: baseline;
	position: relative;
	top: -0.4em;
}
sub {
	vertical-align: baseline;
	position: relative;
	top: 0.4em;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.layer { }.ie { font-size: 1pt; }
.ie body { font-size: 12em; }
@media print{.stl_view {font-size:1em; transform:scale(1);}}
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	font-size: 1em;
	line-height: 0.0em;
	width: 99.16666em;
	height: 20.16667em;
	border-style: none;
	display: block;
	margin: 0em;
}

@supports(-ms-ime-align:auto) { .stl_02 {overflow: hidden;}}
.stl_03 {
	position: relative;
}
.stl_04 {
	position: absolute;
	left: 0em;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 99.16666em;
}
.stl_06 {
	height: 2.016667em;
}
.ie .stl_06 {
	height: 20.16667em;
}
@font-face {
	font-family:"Arial";
	font-weight: normal;
	src: url('D:\Aspose2019\Aspose.Tasks-for-.NET\Examples\Data\WorkingWithResources\fonts/arial.ttf') format("truetype");
}
.stl_07 {
	font-size: 0.666667em;
	font-family: "Arial";
	color: #000000;
}
.stl_08 {
	line-height: 1.117188em;
}
.stl_09 {
	letter-spacing: 0em;
}

.ie .stl_09 {
	letter-spacing: 0px;
}
@font-face {
	font-family:"Arial";
	font-weight: bold;
	src: url('D:\Aspose2019\Aspose.Tasks-for-.NET\Examples\Data\WorkingWithResources\fonts/arialbd.ttf') format("truetype");
}
@font-face {
	font-family:"Calibri";
	font-weight: normal;
	src: url('D:\Aspose2019\Aspose.Tasks-for-.NET\Examples\Data\WorkingWithResources\fonts/calibri.ttf') format("truetype");
}
.stl_10 {
	font-size: 0.833333em;
	font-family: "Calibri";
	color: #000000;
}
.stl_11 {
	line-height: 1.220703em;
}
